<div class="profile">
<label class="hoverable" for="fileInput">
  <img [src]="base64Image ? base64Image : 'https://www.w3schools.com/howto/img_avatar.png' ">
  <div class="hover-text">Choose file</div>
  <div class="background"></div>
</label>
<br/>
<input id="fileInput" type='file' (change)="onSelectFile($event)">
<button *ngIf="base64Image" (click)="delete()" hidden="{{ isReadOnly }}">delete</button>
<div class="container">
  <div class="column">
    <div class="x12">
      <label>First Name:</label>
      <input type = 'text' readonly="{{ isReadOnly }}" class="form-control" [(ngModel)]="firstName">
      <hr>
      <label>Last Name:</label>
      <input type = "text" readonly="{{ isReadOnly }}" class="form-control" [(ngModel)]="lastName">
      <hr>
      <button
      class="btn btn-primary"
      [disabled]="firstName === '' || lastName === ''"
      (click)="onSave()" hidden="{{ isReadOnly }}">Save Profile</button>
      <button (click)="goBack()">go back</button>
    </div>

  </div>
</div>
